<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alohomora</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				<strong>Alohomora</strong>
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
	</nav>
	<section class="hero is-link is-bold">
		<div class="hero-body has-text-centered">
			<p class="title">
				Error
			</p>
			<p class="subtitle">
				An unexpected error occured while processing your request.
			</p>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<p class="block">This error has automatically been logged.</p>
			<p class="block">The error that occured was: {{.Error}}</p>
			<pre><code>{{.StackTrace}}</code></pre>
		</div>
	</section>
</body>

</html>